*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.card1:after, .card2:after, .card3:after, .card4:after {
  content: '';
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  filter: blur(2px); }

.card1, .card2, .card3, .card4 {
  padding: 2em;
  height: 42em;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 2em; }

.main-photo1, .main-photo2, .main-photo3, .main-photo4 {
  height: 15em;
  width: 100%;
  border: 0.3em solid #adadad;
  border-radius: .4em; }

body {
  margin: 0;
  color: #fff;
  font-family: "Raleway", sans-serif; }

.card1 {
  background-color: rgba(2, 27, 14, 0.8); }

.card1:after {
  background: url("../img/sixfeetunder.jpg");
  background-size: cover; }

.main-photo1 {
  background: url("../img/sixfeetunder.jpg") no-repeat center;
  background-size: cover; }

.card2 {
  background-color: rgba(0, 0, 0, 0.8); }

.card2:after {
  background: url("../img/leftovers.jpg");
  background-size: cover; }

.main-photo2 {
  background: url("../img/leftovers.jpg") no-repeat center;
  background-size: cover; }

.card3 {
  background-color: rgba(113, 10, 22, 0.8); }

.card3:after {
  background: url("../img/boardwalk.jpg");
  background-size: cover; }

.main-photo3 {
  background: url("../img/boardwalk.jpg") no-repeat center;
  background-size: cover; }

.card4 {
  background-color: rgba(7, 16, 80, 0.8); }

.card4:after {
  background: url("../img/westworld.jpg");
  background-size: cover; }

.main-photo4 {
  background: url("../img/westworld.jpg") no-repeat center;
  background-size: cover; }

.question {
  height: 13em; }

.buttons {
  list-style: none;
  padding: .7em 0; }
  .buttons li {
    display: inline;
    border: 1px solid #d9d9d9;
    border-color: #d9d9d9 #c9c9c9 #bdbdbd;
    border-radius: 16px;
    box-shadow: inset 0 1px 0 0 white;
    color: #333333;
    display: inline-block;
    font-size: inherit;
    font-weight: normal;
    line-height: 1;
    background-color: #fff;
    background-image: -webkit-linear-gradient(#fff, #e6e6e6);
    background-image: linear-gradient(#fff, #e6e6e6);
    padding: 7px 18px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px white;
    background-clip: padding-box;
    border: 1px solid #d9d9d9;
    border-color: #d9d9d9 #c9c9c9 #bdbdbd;
    border-radius: 16px;
    box-shadow: inset 0 1px 0 0 white;
    color: #333333;
    display: inline-block;
    font-size: inherit;
    font-weight: normal;
    line-height: 1;
    background-color: #fff;
    background-image: -webkit-linear-gradient(#fff, #e9e3e2);
    background-image: linear-gradient(#fff, #e9e3e2);
    padding: 7px 18px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px white;
    background-clip: padding-box; }
    .buttons li:hover:not(:disabled) {
      background-color: #f4f4f4;
      background-image: -webkit-linear-gradient(#f4f4f4, #d7d7d7);
      background-image: linear-gradient(#f4f4f4, #d7d7d7);
      background-clip: padding-box;
      border: 1px solid #c9c9c9;
      border-color: #c9c9c9 #bababa #adadad;
      box-shadow: inset 0 1px 0 0 white;
      cursor: pointer;
      text-shadow: 0 -1px 1px #c7c7c7; }
    .buttons li:active:not(:disabled), .buttons li:focus:not(:disabled) {
      background: #e6e6e6;
      border: 1px solid #b3b3b3;
      border-bottom: 1px solid #b0b0b0;
      box-shadow: inset 0 0 6px 3px #c8c8c8;
      text-shadow: 0 -1px 1px #c8c8c8; }
    .buttons li:hover:not(:disabled) {
      background-color: #f4f4f4;
      background-image: -webkit-linear-gradient(#f4f4f4, #d7d7d7);
      background-image: linear-gradient(#f4f4f4, #d7d7d7);
      background-clip: padding-box;
      border: 1px solid #c9c9c9;
      border-color: #c9c9c9 #bababa #b8a5a2;
      box-shadow: inset 0 1px 0 0 white;
      cursor: pointer;
      text-shadow: 0 -1px 1px #c7c7c7; }
    .buttons li:active:not(:disabled), .buttons li:focus:not(:disabled) {
      background: #e6e6e6;
      border: 1px solid #b3b3b3;
      border-bottom: 1px solid #b5adab;
      box-shadow: inset 0 0 6px 3px #c9c7c7;
      text-shadow: 0 -1px 1px #c8c8c8; }
    .buttons li:disabled {
      cursor: not-allowed;
      opacity: 0.5; }

.footer {
  border-top: 0.1em solid #fff;
  list-style: none;
  padding: 1.5em 0 0; }
  .footer li {
    display: inline; }
    .footer li:nth-of-type(2) {
      float: right; }
  .footer .fa {
    padding-right: 1em; }

/*# sourceMappingURL=application.css.map */
