%border-box {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

%card-background {
  content: '';
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  filter: blur(2px);
}

%card {
  padding: 2em;
  height: 42em;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 2em;
}

%main-photo {
  height: 15em;
  width: 100%;
  border: 1px solid lighten($grey, 10%);
  border-radius: 1em;
  box-shadow: 0 0 3px 2px $grey;
}
